.inline-list {
  font-size: 1rem;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    line-height: 1.7em;
  }

  &__bulletpoint {
    display: inline-block;
    position: relative;
    bottom: 2px;
    height: 5px;
    width: 5px;
    margin: 0 3px 0 8px;
    border-radius: 50%;
    background-color: $text-color;
  }
}
