body {
  padding: 1rem 2rem;
  max-width: 960px;
  margin: 0 auto;
}

aside {
  float: left;
  width: calc(100% / 3);
  padding-right: 2em;
}

main {
  float: right;
  width: calc(100% / 3 * 2);
  padding-left: 2em;
}
