.section {
  font-size: 1rem;
  padding: 0;
  margin-bottom: 3em;

  &__title {
    padding-bottom: 0.375em;
    margin: 0;
    font-size: 1.25em;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    color: $title-color;

    &:before {
      content: '';
      display: inline-block;
      position: relative;
      height: 0.75em;
      width: 0.75em;
      margin-right: 0.5em;
      border-radius: 50%;
      background-color: $primary-color;
    }
  }

  &__content {
    padding-top: 1em;
  }
}
